.slide {
  width: 100vw;
  flex-shrink: 0;
  transition: width 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.old {
  width: 0px;
}

@keyframes slide {
  0% {
    width: 100vw;
  }
  100% {
    width: 0;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20vw;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
}

.imageWrapper {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.detail {
  height: 100%;
  display: flex;
  position: relative;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 60px;
  border-radius: 3px;
  position: absolute;
  height: 100%;
  color: rgba(255, 255, 255, 0.3);

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  @media (hover: none) {
    display: none;
  }
}
.left {
  left: 0;
}
.right {
  right: 0;
}

.editBar {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  border-top: #272727 solid 1px;
  align-items: center;
  box-shadow: #717171 5px 0 6px -2px;
  justify-content: space-around;
  padding: 0 calc((100vw - 700px) / 2);
  box-sizing: border-box;
  color: #999;
  opacity: 0;

  &:hover {
    opacity: 0.5;
  }

  @media (hover: none) {
    opacity: 1 !important;
    font-size: 0.4em;
    height: 50px;
    color: #FFF;
  }

  span {
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}
