.active {
  position: absolute;
  right: 40px;
  cursor: pointer;
  font-weight: 700;
  margin-top: 1px;
  font-family: sans-serif;
  font-size: 1.4em;
  color: #000;

  &.fullscreen {
    color: white;

    &:hover {
      color: white;
    }
  }

  &:hover {
    color: #222;
  }
}
.inactive {
  position: absolute;
  right: 40px;
  cursor: pointer;
  font-weight: 700;
  margin-top: 1px;
  font-family: sans-serif;
  font-size: 1.4em;
  color: #ccccccbb;

  &:hover {
    color: #bbbbbbbb;
  }
}
