.active {
  position: absolute;
  right: 40px;
  cursor: pointer;
  font-weight: 700;
  top: 10px;
  font-family: sans-serif;
  font-size: 1.4em;
  color: #000;

  &:hover {
    color: #222;
  }
}
.inactive {
  position: absolute;
  right: 40px;
  cursor: pointer;
  font-weight: 700;
  top: 10px;
  font-family: sans-serif;
  font-size: 1.4em;
  color: #ccccccbb;

  &:hover {
    color: #bbbbbbbb;
  }
}
