@import '../variables.less';
:global

body {
  color: #100d04;
  background: @base-color;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0;
  font-size: 16px;
  font-family: Raleway;
  text-align: justify;
}

p {
  margin: 0;
}

a {
  color: #100d04;
  text-decoration: none;
}

h3,
h4,
h2,
h1,
h5 {
  margin: 0;
}

button {
  background: #ffa500;
  color: #fafafa;
  border: solid 1px #bf7d03;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px;
  font-family: Raleway;
  font-size: 1em;
}
