.secondary {
  background: #c5c5c5;
  border-color: #bdbdbd;
}
.buttonBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;

  button {
    margin-left: 10px;
  }
}

.destructive {
  background: #fd1818;
  border-color: #b11313;
}
