:root {
  --topbar-height: 40px;
  --black: #100d04;
  --main: #ffa500;
  --main-hover: #e19404;
  --main-active: #bf7c00;
  --main-dark: #ad7000;
}

.body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  color: #100d04;
  padding-top: var(--topbar-height);
  box-sizing: border-box;
  font-size: 14px;
}

.topbar {
  top: 0px;
  position: fixed;
  width: 100%;
  background: var(--main);
  z-index: 10;
  height: var(--topbar-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px var(--main-dark);
}

.buttons {
  position: absolute;
  left: 7px;
  font-size: 1.6em;
  color: white;
}

.content {
  width: 100%;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.symbol {
  margin-right: 7px;
}
