:root {
  --topbar-height: 40px;
  --footer-height: 25px;
  --black: #010602;
  --main: #1bab41;
  --main-hover: #168b36;
  --main-active: #13752d;
  --main-dark: #14742d;
}

.body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  color: #100d04;
  padding-top: var(--topbar-height);
  box-sizing: border-box;

  @media (pointer: coarse) {
    font-size: 1.2em;
  }

  &.fullscreenBody {
    padding-top: 0px;
  }
}

.topbar {
  top: 0px;
  position: fixed;
  width: 100%;
  background: var(--main);
  z-index: 10;
  height: var(--topbar-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px var(--main-dark);
}

.buttons {
  position: absolute;
  left: 7px;
  font-size: 1.6em;
  color: white;
}

.content {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.symbol {
  margin-right: 7px;
}

.fullscreen {
  background: transparent;
  color: white;
  border: none;

  a {
    color: white;
  }
}
