.dialogBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  flex-basis: 400px;
  max-width: 95%;
  background: #fff;
  border-radius: 3px;
}


.header {
  background: var(--main);
  height: 25px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.closeButton.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 25px;
  align-items: center;
  cursor: pointer;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
