.wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  padding: 5px;
  color: darkgray;
}

.image {
  flex: none;
}

.hidden {
  opacity: 0;
  position: absolute;
}

.placeholder {
  font-size: 9em !important;
}
