.wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  background: white;
  padding: 5px;
}

.image {
  flex: none;
}

.placeholder {
  font-size: 9em !important;
}
