.pager {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.2em;
  min-height: 25px;
  margin: 5px 20px;

  .pagerList .page {
    color: var(--black);
    cursor: pointer;
    font-weight: 600;
    margin: 0 2px;

    &:hover {
      color: #06200b;
    }

    &.activePage {
      color: var(--main);
      cursor: default;
    }
  }
  .sizeArea {
    position: absolute;
    right: 0;
  }
}

.bottom {
  margin-top: auto;
  margin-bottom: 10px;
}

.pagedList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
